@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@500&display=swap');
* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 8px;
}

body {
    margin: 0;
    font-family: "Kanit";
    /* font-size: 18px; */
    color: #3d3d3d;
}

h1,
h2 {
    font-family: "Kanit";
    font-size: 2rem;
}

h3 {
    font-family: "Kanit";
    font-size: 1.5rem;
}

header {
    padding: 7px 50px 4px 5px;
    background-color: #8686867c;
    position: fixed;
    z-index: 2;
    width: 100%;
    backdrop-filter: blur(5px);
    float: right;
    padding-top: 10px;
}

header img {
    height: 50px;
    border-radius: 50px;
    margin-left: 2%;
}



*/ a {
    text-decoration: none !important;
}

.nav {
    float: right;
    padding-top: 15px;
    z-index: 3;
}

.nav a {
    color: #3d3d3da9;
    text-transform: uppercase;
    margin-left: 15px;
    font-family: Kanit;
    font-size: 18px;
}

.nav a:hover {
    color: #ffd104;
}

h1 {
    font-size: 2rem;
}

#intro {
    min-height: 80vh;
    background: linear-gradient(#a39b9bc4, #423e3e00), url("../images/bee.jpg");
    background-size: cover;
    color: black;
    position: relative;
}

#intro1 {
    min-height: 60vh;
    background: linear-gradient(#a39b9b0a, #928d8d3d), url("../images/bee1.png");
    background-size: cover;
    color: rgb(236, 227, 227);
    position: relative;
}

#intro2 {
    min-height: 60vh;
    background: linear-gradient(#41972b85, #c4ccc5), url("../images/tree.jpg");
    background-size: cover;
    color: rgba(145, 163, 150, 0.76);
    position: relative;
}

#intro3 {
    min-height: 60vh;
    background: linear-gradient(#a39b9b0a, #928d8d00), url("../images/plain2.jpg");
    background-size: cover;
    color: black;
    position: relative;
}

.intro-content {
    padding-top: 22vh;
    padding-left: 8%;
}

.intro-content h1 {
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: -15px;
}

.antet {
    height: 90px;
    border-radius: 50%;
}

p {
    font-size: 24px;
    line-height: 165%;
    text-align: justify;
    font-family: Montserrat;
}

.custom-shape-divider-bottom-1648197642 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1648197642 svg {
    position: relative;
    display: block;
    width: calc(122% + 1.3px);
    height: 90px;
}

.custom-shape-divider-bottom-1648197642 .shape-fill {
    fill: #FFFFFF;
}

.row {
    min-height: auto;
    overflow: auto;
}

.col-50 {
    width: 50%;
    float: left;
    padding: 10px 20px;
}

.col-60 {
    width: 60%;
    float: left;
    padding: 10px 20px;
}

.col-40 {
    width: 40%;
    float: right;
    padding: 30px 20px;
}

.col-40 img {
    width: 100%;
    height: 350px;
    border: 6px solid #ffd104;
}

.container {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.box img {
    width: 100%;
    height: 100%;
    margin: 15px;
    border: 3px solid rgb(200, 200, 200);
    object-fit: cover;
}

.box:hover {
    border: 3px solid rgba(42, 160, 42, 0.7);
    transform: scale(1.05);
    filter: drop-shadow(0 0 14px rgba(42, 160, 42, 0.7));
}

.title {
    border-bottom: 4px solid #f5ca0a;
    margin-bottom: 5px;
    margin-top: 10px;
    display: inline-block;
}

.contact-list {
    line-height: 200%;
    list-style: linear-gradient(#dae911de, #cf8f2f);
}

.aspect {
    line-height: 200%;
    list-style: linear-gradient(#dae911de, #e2cd0a);
    font-size: 20px;
    text-align: justify;
}

.map {
    width: 100%;
    max-width: 500px;
    height: 355px;
    border-radius: 10px;
    border: 2px solid #ffd104;
}

.centered {
    text-align: center;
}

.contact-form {
    width: 100%;
    background-color: #ebebeb;
    border-radius: 10px;
    border: 2px solid #ffd104;
    max-width: 500px;
    padding: 5px 15px 30px 15px;
}

.contact-form input,
.contact-form textarea {
    display: block;
    width: 90%;
    margin: 10px auto 0px auto;
    resize: none;
    font-family: "Kanit";
    padding: 3px;
    font-size: 18px;
}

.top-section {
    background: linear-gradient(rgba(100, 128, 24, 0.24), rgba(0, 0, 0, 0.75));
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

#intro {
    height: 40vh;
}

.top-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

.centered {
    text-align: center;
}

.md-stat-desk {
    width: 100%;
    height: 80vh;
}

.contact {
    margin: 20px 4px;
    border: 2px solid lightgray;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.md-stat-mobile {
    display: none;
}

main {
    min-height: 100vh;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}

.carduri {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 15px 30px;
    grid-template-rows: minmax(400px, auto);
}

.card {
    background-color: rgba(232, 247, 247, 0.699);
    border-radius: 10px;
    text-align: center;
    padding: 15px;
}

.card-1 {
    background-color: rgba(232, 247, 247, 0.699);
    border-radius: 10px;
    text-align: center;
    padding: 15px;
}

.card img {
    width: 500px;
    height: 400px;
    object-fit: contain;
}

.card-1 img {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

#menu-btn {
    color: white;
    font-size: 28px;
    position: absolute;
    top: 23px;
    right: 25px;
    display: none;
}

.show {
    display: block !important;
}

footer {
    min-height: 35px;
    background-color: #c2a11046;
    color: rgba(20, 3, 3, 0.753);
    width: 100%;
    padding: 5px 10px 10px 10px;
    text-align: center;
    font-family: "Montserrat";
}

footer img {
    height: 30px;
    margin-top: 20px;
}

.page-container {
    min-height: 100vh;
    padding-top: 70px;
}

.image {
    display: flex;
    justify-content: space-around;
}

.image-container {
    height: 230px;
    width: 350px;
    position: absolute;
    border: 5px solid #ffd104;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.transition-image {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.transition-image:hover {
    opacity: 1;
}

.face {
    margin-right: 5%;
    margin-left: 5%;
    position: absolute;
}

.galerie {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.galerie img {
    width: 300px;
    height: 240px;
    object-fit: cover;
    animation: fade 3s forwards;
    opacity: 0;
    transition: filter, transform 0.7s;
}

.galerie img:hover {
    filter: saturate(125%) drop-shadow(3px 2px 4px black) !important;
    transform: scale(1.03) rotate(5deg) !important;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(0.0);
        filter: blur(5px);
    }
    50% {
        opacity: 1;
        filter: blur(0px);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 850px) {
    main {
        padding: 10px;
    }
    body {
        font-size: 16px;
    }
    .md-stat-mobile {
        display: block;
        width: 100%;
        height: 65vh;
    }
    .md-stat-desk {
        display: block;
    }
    .col-50,
    .col-40,
    .col-60 {
        width: 100%;
        padding: 10px 10px;
    }
    .top-title {
        font-size: 14px;
        text-align: center;
        margin-top: 140px;
    }
    navbar {
        display: block;
        width: 100%;
    }
    /* .nav a {
        display: block;
        font-size: 18px;
        margin-top: 5px;
    } */
    .nav {
        display: block;
        height: auto;
        width: 100%;
    }
    header {
        display: block;
        width: 100%;
    }
    .carduri {
        display: block;
    }
    .card img {
        width: 60%;
    }
    .card-1 img {
        width: 60%;
    }
    .box img {
        display: block;
    }
    .page-container {
        display: block;
        width: 100%;
    }
    #menu-btn {
        display: block;
    }
}